{% extends 'base.html' %}
{% block content %}
{% load static %}

    <title>큐레이션 main 페이지</title>
    <link rel="stylesheet" href="{% static 'css/curator_select.css' %}">

    <body>
        <div class="body">
            <div id="container">
                <section><div class="sharehouse_title">
                    <a>쉐어하우스</a>
                    <div class="card">
                        <img src="{% static 'images/ghibli.jpg' %}" height="250" width="10" class="card-img-top">
                        <div class="card-body">
                            <a class="card-title" style="color:black">지브리 애니메이션 같은 아이템 모음</a><br>
                            <a class="card-text">#지브리 #애니메이션 #판타지 #동화</a>
                        </div>
                    </div>
                    <h2 class = "context">
                        - 여러 Zipper들이 함께 만드는 공동 컬렉션 입니다. <br>
                        - 누구나 최대 2개 까지의 상품을 등록할 수 있습니다.<br>
                        - 아래의 버튼을 클릭해서 쉐어하우스들을 둘러보세요.<br>
                    </h2>
                    <a href="{% url 'sh_page' %}" class="btn text-white">쉐어하우스 둘러보기</a>
                </div></section>

                <section><div class="ZIP_title">
                    <a>ZIP</a>
                    <div class="card">
                        <img src="{% static 'images/sea.jpg' %}" height="250" width="10" class="card-img-top">
                        <div class="card-body">
                            <a class="card-title" style="color:black">바다향기 나는 썬캐쳐 모음</a><br>
                            <a class="card-text">#소품 #썬캐쳐 #여름 #바다 #휴양지</a>
                        </div>
                    </div>
                    <h2 class = "context">
                        - 한명의 Zipper가 관리하는 인테리어 컬렉션 입니다. <br>
                        - 아래의 버튼을 클릭해서 다양한 ZIP을 둘러보세요.<br>
                    </h2>
                    <a href="{% url 'zip_page' %}" class="btn text-white">ZIP 둘러보기</a>
                </div></section>
            </div>
        </div>
    </body>

{% endblock %}