{% extends 'base.html' %}
{% block content %}
{% load static %}

    <title>ZIP 생성 완료</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">

	<form method="POST">
		{% csrf_token %}
		<div id="container">
			<section><div id="name">
				<h2 class = "headline1">나만의 ZIP이 생성되었어요!</h2><br>
				<a href="{% url 'homeitem' %}" class="btn text-white" style="background-color: rgb(101,51,251);">상품 추가하러 가기</a>
				<a href="{% url 'home' %}" class="btn btn-dark text-white">나중에 추가하기</a>
			</div></section>
		</div>
	</form>

{% endblock %}