.bookmark-product-modal{
    margin-top: 5rem;
}
.modal-box{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.left-modal-box{
    padding-left: 10%;
}
.product-left-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}
.mycuration-list{
    height: 300px;
    width: 300px;
    overflow: auto;
}
.mycuration-list-checkbox{
    padding-right: 20px;
    font-size:2rem;
}
.mycuration-list-titles{
    display:flex;
    margin-bottom: 20px;
    align-items: center;
}

.right-modal-box{
    padding-left: 10%;
}
li{
    list-style:none;
}