{% extends 'base.html' %}
{% block content %}
{% load static %}
    <title>쉐어하우스 리스트 페이지</title>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/curator_page.css' %}">

    <body>
        <div class="body">
            <div class="popular__curation__title">
                <a href="#">인기 쉐어하우스&nbsp</a>
                <a class = "btn" href="#" style="color:white">더보기</a>
            </div>
            <div class="popular__curation">
                <div class="popular__cuartion__list row">          
                    <div class="popular__curation__box col"><a href=""><img src="{% static 'images/test.jpg' %}" alt=""><div class="box-text">30살에 살고 싶은 집<br>#나무 #포근한 #원목 #식물 #자연</div></a></div>
                    <div class="popular__curation__box col"><a href=""><img src="{% static 'images/sa.jpg' %}" alt=""><div class="box-text">사회초년생을 위한 저렴이 인테리어<br>#저렴하지만 #고급진 #저렴 #원룸</div></a></div>
                </div>
                <div class="popular__cuartion__list row">          
                    <div class="popular__curation__box col"><a href=""><img src="{% static 'images/mp.jpg' %}" alt=""><div class="box-text">개발자의 방<br>#IT #개발자 #모던 #애플</div></a></div>
                    <div class="popular__curation__box col"><a href=""><img src="{% static 'images/harry.jpg' %}" alt=""><div class="box-text">해리포터 테마 인테리어<br>#해리포터 #판타지 #영화 #앤티크</div></a></div>
                    <div class="popular__curation__box col"><a href=""><img src="{% static 'images/bin.jpg' %}" alt=""><div class="box-text">빈티지 공주님<br>#빈티지 #공주 #중세유럽 #앤티크</div></a></div>
                </div>
            </div>

            <div class="recent__curation__title">
                <a href="#">최신 쉐어하우스</a>
                <a class = "btn" href="#" style="color:white">더보기</a>
            </div>
            <div class="recent__curation">
                <div class="recent__cuartion__list row">          
                    <div class="recent__curation__box col"><a href=""><img src="{% static 'images/sea2.jpg' %}" alt=""><div class="box-text-2">바다향기나는 썬캐쳐 모음</div></a></div>
                    <div class="recent__curation__box col"><a href=""><img src="{% static 'images/frozen.jpg' %}" alt=""><div class="box-text-2">겨울왕국 테마</div></a></div>
                    <div class="recent__curation__box col"><a href=""><img src="{% static 'images/ca.jpg' %}" alt=""><div class="box-text-2">카페분위기</div></a></div>
                </div>
                <div class="recent__cuartion__list row">          
                    <div class="recent__curation__box col"><a href=""><img src="{% static 'images/go.png' %}" alt=""><div class="box-text-2">고양이와 함께</div></a></div>
                    <div class="recent__curation__box col"><a href=""><img src="{% static 'images/test.jpg' %}" alt=""><div class="box-text-2">강아지와 함께</div></a></div>
                    <div class="recent__curation__box col"><a href=""><img src="{% static 'images/idol.jpg' %}" alt=""><div class="box-text-2">최애로 꾸민 방</div></a></div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}