{% extends 'base.html' %}
{% block content %}
{% load static %}
    <title>새 큐레이션 main 홈</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <form method="POST">
            {% csrf_token %}
            <div id="container">
                <!-- 박스 3개씩 총 두줄 -->
                <section><div id="name">
                    <h2 class = "headline1">쉐어하우스 만들기</h2>
                    <h2 class = "context">
                        - 여러 사람들과 함께 만드는 공동 컬렉션을 만들어보세요. <br>
                        - 누구나 최대 2개 까지의 상품을 등록할 수 있습니다.<br>
                        - 아래의 버튼을 클릭해서 쉐어하우스들을 둘러보세요.<br>
                    </h2>
                    <a href="{% url 'sh_page' %}" class="btn text-white" style="background-color:var(--point-color);">쉐어하우스 둘러보기</a>
                    <a href="{% url 'new1' %}" class="btn btn-dark text-white">생성하기</a>
                </div></section>
                
                <section><div id="name">
                    <h2 class = "headline1">나만의 ZIP 만들기</h2>
                    <h2 class = "context">
                        - 나만의 인테리어 컬렉션 ZIP을 만들어보세요. <br>
                        - 원하는 상품을 몇개든 등록할 수 있습니다.<br>
                        - 아래의 버튼을 클릭해서 ZIPPER들의 ZIP을 둘러보세요.<br>
                    </h2>
                    <a href="{% url 'zip_page' %}" class="btn text-white" style="background-color:var(--point-color);">ZIP 둘러보기</a>
                    <a href="{% url 'new2' %}" class="btn btn-dark text-white">생성하기</a>
                </div></section>
            </div>
        </form>
    
{% endblock %}