{% extends 'base.html' %}
{% block content %}
{% load static %}

    <title>나만의 ZIP 만들기</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <h2 class = "headline">나만의 ZIP 만들기</h2><br>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <p>
        <label for="id_title" class = "note">제목</label> 
        <input type="text" name="title" maxlength="200" required="" id="id_title" class="form-control" placeholder="ex) 해리포터 기숙사 인테리어" aria-label="Username" aria-describedby="basic-addon1">
        </p>

        <p>
        <label for="id_body" class = "note">소개글</label> 
        <textarea name="note" cols="40" rows="5" required="" id="id_note" class="form-control" placeholder="ex) 내 방을 해리포터 기숙사로 만들어줄 아이템 모음" aria-label="With textarea"></textarea>
        </p>

        <p>
        <div class="note">
            <label for="id_body">썸네일 이미지</label><br>
            <input class="file_input" type="file" name="imgs" multiple>
        </div>
        </p>

        <p>
        <label for="id_body" class = "note">해시태그</label> 
        <textarea name="body" cols="40" rows="1" required="" id="id_body" class="form-control" placeholder="ex) #해리포터 #판타지 #앤티크" aria-label="With textarea"></textarea>
        </p>
        
        <button type="submit" class="bttn btn-dark text-white">생성하기</button>
    </form>

{% endblock %}