{% extends 'base.html' %}
{% block content %}
{% load static %}

    <title>상품리스트 main 페이지</title>
    <link rel="stylesheet" href="{% static 'css/itemmain.css' %}">
    <link rel="stylesheet" href="{% static 'css/homeitem.css' %}">

    <!-- 01.Search & Category -->
    <div class="search-container">
        <div class="search-container2">
            <div class="input-group mb-3 search-input">
                <input type="text" class="form-control" placeholder="컨셉, 제품명, 태그 등으로 검색하기"
                    aria-label="컨셉, 제품명, 태그 등을 입력하세요." aria-describedby="button-addon2">
                <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button> -->
                <button id="search"><i class="fas fa-search icon"></i></button>
            </div>
            <div class="search-tags">
                <span><a href="">#가구</a></span>
                <span><a href="">#패브릭</a></span>
                <span><a href="">#홈데코/조명</a></span>
                <span><a href="">#가전</a></span>
                <span><a href="">#향</a></span>
            </div>
        </div>
    </div>

    <!-- 상품 리스트 -->
    <div class="products-container">
        <div class="product-container-header">
            <ul class="product-categories">
                <li class="category"><a href="">가구</a></li>
                <li class="category"><a href="">패브릭</a></li>
                <li class="category"><a href="">홈데코/조명</a></li>
                <li class="category"><a href="">가전</a></li>
                <li class="category"><a href="">향제품</a></li>
            </ul>
            {% if user.is_authenticated %}
            <a class="product-create" href="{% url 'newitem' %}">
                <i class="fas fa-plus" style="color:gold"></i>
                <span>새로운 제품 등록하기</span>
            </a>
            {% endif %}
        </div>
        <hr>
        <div class="product-list-container">
            <div class="row">
                {% for item in items_list %}
                <div class="col collection-card product" id="product">
                    <div class="card" onclick="">
                        {% if item.image %}
                        <img src="{{item.image.url}}" class="card-img-top" /><br>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">가격: {{item.price}}</p>
                            <a href={% url 'detailitem' index=item.pk %}>상품 자세히 보기</a>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="row">
                {% for item in items_list %}
                <div class="col collection-card product" id="product">
                    <div class="card" onclick="">
                        {% if item.image %}
                        <img src="{{item.image.url}}" class="card-img-top" /><br>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">가격: {{item.price}}</p>
                            <a href={% url 'detailitem' index=item.pk %}>상품 자세히 보기</a>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

{% endblock %}