:root{
    --text-color: #494949;
    --header-color:#212121;
    --sub-text-color: #c2c2c2;
    --point-color:#651fff ;
    --body-color: #f5f5f5;
}
body{
    color: var(--text-color);
    position:relative;
}
a:hover{
    color: var(--point-color);
}
/* 1) search */
.search-container{
    padding-top: 170px;
    align-items: flex-start;
    height: 30rem;
}
.search-container .search-tags a{
    background-color: var(--point-color);
    color: #fff;
    margin-right: 10px;
    font-size: 1.5rem;
    padding: 8px 18px;
    border-radius: 20px;
    overflow: hidden;
}

/* 2. products */
.products-container{
    width: 80%;
    margin: 0 auto;
}
.product-container-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}
.product-categories{
    display:flex;
    list-style: none;
}
.product-categories li{
    width: 200px;
    text-align: center;
    border-right: 2px solid var(--sub-text-color);
    padding-right: 20px;
}
.product-categories a{
    color:var(--text-color)
}
.product-create{
    background-color: rgb(101, 50, 251);
    padding: 15px 15px;
    margin-bottom: 15px;
    color:white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
}
.product-create:hover{
    color: #fff;
    background-color: var(--point-color);
}
.product-create i{
    margin-right: 10px;
}
.product-list-container{
    margin-top: 100px;
}
.product-list-container .card{
    height: 100%;
}
.product-list-container .row{
    margin-bottom: 100px;
}
.product-list-container .col{
    margin-right: 30px;
}
.card-img-top {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 0;
}
.card-body{
    text-align:center;
    margin: 20px;
}